<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FedExShippingWCF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.web>
    <httpRuntime maxRequestLength="2147483647" />
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="custom_long_binding"
                 openTimeout="00:10:00"
                 closeTimeout="00:10:00"
                 sendTimeout="00:10:00"
                 receiveTimeout="00:10:00"
                 maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32"
                 maxArrayLength="2147483647"
                 maxStringContentLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </wsHttpBinding>
        <basicHttpBinding>
          <binding maxReceivedMessageSize="2147483647"
                   maxBufferSize="2147483647"
                   maxBufferPoolSize="2147483647">
            <readerQuotas maxDepth="32"
                          maxArrayLength="2147483647"
                          maxStringContentLength="2147483647"/>
          </binding>
        </basicHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <applicationSettings>
    <FedExShippingWCF.Properties.Settings>
      <setting name="FedExShippingWCF_FedExAddressValidationService_AddressValidationService"
        serializeAs="String">
        <value>https://ws.fedex.com:443/web-services/addressvalidation</value>
      </setting>
      <setting name="FedExShippingWCF_FedExAvailabilityValidationService_ValidationAvailabilityAndCommitmentService"
        serializeAs="String">
        <value>https://ws.fedex.com:443/web-services/ValidationAvailabilityAndCommitment</value>
      </setting>
      <setting name="FedExShippingWCF_FedExShipService_ShipService"
        serializeAs="String">
        <value>https://wsbeta.fedex.com:443/web-services/ship</value>
      </setting>
      <setting name="FedExShippingWCF_RateService_RateService" serializeAs="String">
        <value>https://wsbeta.fedex.com:443/web-services/rate</value>
      </setting>
    </FedExShippingWCF.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="ACCOUNTNUMBER" value="510087160" />
    <add key="METERNUMBER" value="114010825" />
    <add key="USERCREDENTIAL_KEY" value="GN7cSR93ryVrUhpv" />
    <add key="USERCREDENTIAL_PASSWORD" value="OPEgfBPa3OuboYMWfoh40ZNZR" />
    <add key="TEST_MODE" value="True" />
  </appSettings>
</configuration>